body {font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
background-image: url(../img/Power-to-rise.jpeg);
background-repeat: no-repeat;
background-size: 100%;
}
form {border: 3px solid #f1f1f1;
width:400px ;
margin: 0 auto; 
background-color: white;
/*width:250px;*/
}
a{
  color: #4299f5;
  text-decoration-line: none;
}
label{
  color: gray;
}
input[type=text], input[type=password] {
  width: 300px;
  padding: 12px 10px;
  margin: 8px 0;
  display: block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color:#4299f5;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 300px;
  border-radius: 10px;
  
}
#log{
  text-decoration-line: none;
  color: white;
}

button:hover {
  opacity: 0.8;
}

.imgcontainer {
  background-color: #4299f5;
  text-align: center;
  margin: 24px 0 12px 0;
  
}

/*img.avatar {
  width: 40%;
  border-radius: 50%;
}*/

.container {
  padding: 16px;
  text-align: center;
  align-items: center;
}

span.psw {
  /*float: right;*/
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
 
}