body{
    font-family: Arial, Helvetica, sans-serif;
    font: size 15px;
    line-height: 1.5;
    padding: 0%;
    margin: 0%;
    background-color: rgb(168, 194, 194);
}
/*universal*/
.container{
    widows: 80%; 
    margin: auto;
    overflow: hidden;
    
}
ul{
    margin: 0;
    padding: 0;
}
/*header*/
header{
    background: #35424a;
    color: #ffffff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #ffffff 3px solid;
    
    
}
header a{
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}
header a:hover{
    color:#cccccc;
    font-weight: bold;
}
#showcase{
    height: 100%;
    background: url('../img/diary-968592_1920.jpg')no-repeat 0;
    background-size:cover;
    /* border-image-width: 0px; */
    text-align: center;
    color: #ffffff;
    
}


header li{
    float:left;
    display: inline;
    padding: 0 20px 0 20px;
}
header #branding{
    float: left;
}
header #branding h1{
    margin: 0;
}
header nav{
    float: right;
    margin-top: 10px;
}

