*{
    margin: 0;
    padding:0;
}

body{
    background:#4299f5;
}

.left-menu{
    width: 20%;
    
}

.tablediv{
    height: 70%;
}

.vr-nav{
    width: 20%;
    margin: 0;
    padding: 0;
    list-style-type: none;
    position: fixed;
    background-color: white;
    text-align: center;
    overflow: hidden;
    height:100%;

}
#full {
    padding: 20px;
    color: #4299f5;
}
a {
display: block;
color: #4299f5;
padding: 10px 10px;
text-decoration: none;
border-bottom: 2px solid;
font-size: 15px;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
text-decoration: none;
font-weight: bold;


}



.active {
    background-color: #4299f5;
}


.active  a{
    color: white
}

.vr-nav li a:hover{
    background-color: #4299f5;
    color: white;
    border-bottom: 1px solid;
    
}

.vr-side{

    margin-left: 30%;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
    height: 100%;
}

.head4 {
    color: #4299f5;
}

.grouping {
    padding-left: 20px;
    font-size: 18px;
    word-spacing: 5px;
    width: 50%;
    padding-bottom: 10px;
    padding-top: 10px;
    
    
}

input {
    
    border-radius: 4px;
    /*padding: 12px 12px 12px 0;*/
    display: inline-block;
    margin-bottom: 5px;

}

.buttons{
    
    width: 80px;
    height: 30px;
    border-radius: 10px;
    padding: 14px 20px;
    margin: 8px 0;
  border: none;
  width: 100px;
  color: #4299f5;
  font-size: 15px;

}

label {
  /*padding: 12px 12px 12px 0;*/
  display: inline-block;
  margin-bottom: 5px;
}

.innerdiv{
    display: flex;
}

.divgroup{
    padding: 20px;
}


#pic{
    width: 100%;
    
}
.ppdiv{
    background-color: white;
    width: 100%;
    height: 150px;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-around;
}