*{margin: 0; }
.root{
    height: 100%;
    width: 100%;
    display: flex;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        
}

.nav{
    width: 20%;
    display: block;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    
}

.remaining{
    width: 80%;
    display: flex;
    font-size: 15px;
    padding: 30px;
    margin: 0;
}

.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 20%;
    height: 100%;
    position: fixed;
    overflow: auto;
    text-align: center; 
    }

  a{
    text-decoration-line: none;
   color: #4299f5;
  }
  .active {
    background-color: #4299f5;
}


.active  a{
    color: white
}
  .remaining{
      background-color: #4299f5;
      color: white;
      display: block;
      text-align: center;
  }
  
  .remaining ul{
    list-style-type: square;
    text-align: left;
  }
  .btn{
      color: #4299f5;
      padding: 5px;
      border-radius: 10px;
  }

  .earn-list{
      display: flex;
      justify-content: space-around;
      background-color: white;
      color: #4299f5;
      border: 1px solid #90c5e8;
      box-shadow: 1px 1px 5px gray
  }
  #pic{
      width: 100%;
      
  }
  .tag:hover{
    background-color: #4299f5;
    color: white;
    } 

  .tag {
      display: block;
      border-bottom: 2px solid #4299f5;
      align-items: center;
      padding: 10px;
      font-weight: bold;
        
  }
  .earn{
    display: flex;  
    align-items: center;
    flex-direction: column;
    padding: 10px;
  }
  
 spend{
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: space-around;
      padding: 10px;
  }
  table, th, td {
    border-collapse: collapse;
    color:white;
    text-align: center;
    border:1px solid white;

      }
  th{
      background-color:white;
      color: #4299f5;
      border: 1px solid #4299f5;
      height: 30px;
  }
  input{
      background-color: white;
      height: 22px;
  }
  .btn{
      width: 100%;
      background-color: #4299f5;
      height: 25px;
      color: white;
  }
  .btn:hover {
    background-color: white;
    color: #4299f5;
  }
  #code{
    padding:3px;
    color: #4299f5;
    border-radius: 5px;
  }
 #generatedCode{
     font-weight: bold;
 }